html {
  box-sizing: border-box;
}

body {
  background-color: #f4f7fb;
  /* font-size: 1.6rem; */
  font-weight: 400;
  line-height: 1.3;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100%;
  height: 60px;
  color: #fff;
  z-index: 9;
  padding: 0;
  margin: 0;
}

.svg__global--go-logo-white {
  width: 142px;
  height: 28px;
  fill: #fff;
}

.navbar-brand a {
  display: flex;
}

.nav-link,
.nav-link:hover {
  color: #fff;
}

.pinIcon {
  width: 25px;
  height: 25px;
}

.nav-item.dropdown .dropdown-toggle.nav-link {
  padding-left: 5px;
}

.dropdown-item {
  width: 258px;
  height: 42px;
  font-size: 15px;
  display: flex;
  align-items: center;
}

.dropdown-item:hover,
.dropdown-item:active {
  color: #01b2ee;
}

.dropdown-menu {
  padding: 0;
}
.nav-link span {
  margin-left: 5px;
}

.vl_nav {
  width: 1px;
  height: 33px;
  background-color: #fff;
}
.nav-link {
  display: flex;
  padding: 0.5rem 0.9rem;
  justify-content: center;
  align-items: center;
}

.navbar-light .navbar-nav .nav-link {
  color: #4f5864;
  font-size: 16px;
  font-weight: 500;
}

.navSub .nav-item.dropdown .dropdown-toggle.nav-link:hover,
.navSub .nav-link:hover {
  color: #01b2ee !important;
}

.navSub .dropdown-toggle::after {
  color: #01b2ee;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 3.5rem;
}
.navSub {
  background-color: #fff !important;
  box-shadow: 0 0 10px 0 rgb(75 84 96 / 22%);
  height: 57px;
}

.headerImage {
  width: 100%;
  padding-top: 20px;
}
.headerImg {
  width: 100%;
}

.blueAnchor {
  color: #01b2ee;
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px;
}
.headerText {
  font-size: 18px;
  font-weight: bold;
  color: #4f5864;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
.blue {
  color: #01b2ee;
}
.jumbotron {
  background-color: #fff;
  padding: 0rem 0rem;
}
.bigTitle {
  font-size: 28px;
  font-weight: 700;
  background-color: #fff;
  border-bottom: 1px solid #dce3ed;
  border-radius: 3px 3px 0 0;
  padding: 15px 20px;
}
.foter{
  padding-top: 2rem;
  
  display: flex;
  flex-wrap: nowrap;
  background-color: #fff;
}
.social{
  justify-content: space-between;
  margin: 0%;
  padding: 0%;
  background-color: #fff;
}
.social img{
  width: 1.5rem;
  height: auto;

}
row col {
  display: flex;
  width: 100%;
  font-weight: 500;
  color: #4f5864;
  line-height: 1;
  transition: all 0.15s ease-out;
  /* padding: 15px 20px; */
  transition: all 0.3s ease-in-out;
}
.sideBarAnchor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  color: #4f5864;
  line-height: 1;
  transition: all 0.15s ease-out;
  padding: 15px 20px;
  transition: all 0.3s ease-in-out;
}
.footerSideBarAnchor {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-weight: 500;
  color: #4f5864;
  line-height: 1;
  transition: all 0.15s ease-out;
  padding: 0px;
  transition: all 0.3s ease-in-out;
}
.socialIcon{
  padding: 4px;
}
.pad-bot-100{padding-bottom:100px;}
.sideBarAnchor:hover {
  text-emphasis: none;
  text-decoration: none;
  color: #01b2ee;
}
.sideBar_name {
  font-size: 15px;
}
.sideBar_amount {
  color: #92a2ad;
  font-weight: 300;
  font-size: 12px;
}

.toursCards {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
}
.twoTours_card {
  width: 49%;
}
.fourTours_card {
  width: 24%;
}
.header_section {
  font-size: 32px;
  font-weight: 700;
  display: flex;
  vertical-align: middle;
  color: #4f5864;
  margin-bottom: 25px;
}
.viewMore_anchor {
  border-radius: 5px;
  background-color: #01b2ee;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 15px;
  font-size: 15px;
  font-weight: 300;
  height: 40px;
  transition: all 0.15s ease-out;
}
.viewMore_anchor:hover {
  text-decoration: none;
  background-color: #24c7fe;
  color: #fff;
}

.twoTours_card:hover .cardHover,
.fourTours_card:hover .cardHover {
  opacity: 1;
}
.twoTours_card,
.fourTours_card {
  margin-bottom: 10px;
}

.navMain {
  z-index: 10005;
}

.tours_card-top {
  position: relative;
  overflow: hidden;
}
.cardHover {
  opacity: 0;
  z-index: 5;
  background-color: #01b3eece;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardHover_info {
  width: 100%;
  font-size: 18px;
  line-height: 1.3;
  font-weight: 500;
  margin-bottom: 0;
  color: #fff;
  text-align: center;
  padding: 18px;
}

.tours_card .card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 500;
  color: #4f5864;
  margin: 0;
  line-height: 1.4;
}
.tours_card .card-text {
  font-size: 15px;
  font-weight: 300;
  color: #01b2ee;
  margin-bottom: 7px;
  line-height: 1.2;
  max-height: 40px;
}

.tours_card-footer {
  display: flex;
  justify-content: space-between;
}

.purchase_count {
  font-size: 14px;
  color: #92a2ad;
  width: 30%;
  flex: none;
  display: inline-flex;
  align-items: flex-end;
  justify-content: left;
}

.tours_card-priceCon {
  line-height: 1.2;
  text-align: right;
  flex: 1;
  display: inline-flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-wrap: wrap;
  color: #01b2ee;
}
.tours_card-priceFrom {
  font-size: 12px;
  font-weight: 500;
  width: 100%;
}
.tours_card-priceCurrent {
  font-size: 35px;
  line-height: 1;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
}
.tours_card-priceValue {
  font-size: 14px;
  text-decoration: line-through;
  margin-right: 5px;
  color: #727986;
}

.addHeartIcon {
  background-color: #eff3fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 7px;
  position: absolute;
  top: 2%;
  right: 2%;
  cursor: grabbing;
  z-index: 9;
}

.addHeartIcon img {
  width: 18px;
}
.tours_card-location {
  font-weight: 300;
  color: #92a2ad;
}

.subscribe_btn {
  box-shadow: 0 0 8px 0 rgb(1 178 238 / 50%);
  border: none;
  background: #01b2ee;
  border-radius: 0 5px 5px 0;
  font-size: 15px;
  font-weight: 500;
  height: 50px;
}
.flex1 {
  flex: 1;
}
.subscribe_input {
  height: 50px;
}
.menu-bottom{display: none;}
.footerPinIcon{width:35px;height:35px;}
@media (min-width: 1200px) {
  .container {
    max-width: 1385px;
  }
}

@media (max-width: 797px) {
  .justify-content{justify-content:space-between;}
  .menu-bottom{display: block;
    z-index: 70;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #fff;
    justify-content: space-around;
    align-items: center;
    height: 5.5rem;
    border-top: 1px solid #eaf1f5;}

    
     .menu-bottom .nav-link,
     .menu-bottom .nav-link:hover {
  color: #000;
}


  .d-res-none{
    display: none;
  }
  .fourTours_card {
    width: 49%;
}
.w-res-100{width:100% !important;    flex: 0 0 100%;
  max-width: 100%;}
.d-res-block{
display: block !important;
}
.header_section {
  font-size: 22px;
  display: block;
}
.viewMore_anchor {
  background-color: transparent;
  color: #01b2ee;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
}
.w-res-100{width:100% !important}
.container, .container-md, .container-sm {
  width: 100%;
}
}
@media (max-width: 576px) {
  .twoTours_card {
    width: 100%;
  }
  .fourTours_card {
    width: 100%;
}
}
.social img {
  cursor: pointer;
    fill: #fff;
    width: 1em;
    height: 1em;
    display: inline-block;
    font-size: 2rem;
    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    flex-shrink: 0;
    user-select: none;
    border-radius: 50%;
    border: 1px solid #4f5864;
    background-color: #4f5864;
}

.footer-bottom{
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  height: 60px;
  align-items: center;
  width: 100%;
  border-top: 1px solid #dce3ed;
  background-color: #fff;
  display: block;

}

.footer-bottom p{
  margin-bottom: 0;
  margin-right: 10px;
}

.footer-bottom span{
  color: #5ab3ee;
  cursor: pointer;
  margin-right: 10px;
}